// App global CSS in SCSS form

body {
  overflow-x: hidden;
}

.container {
  display: flex;
  align-items: center;

  .center {
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 0 auto;
  }
}

.column {
  flex: 1;
  padding: 20px;
  margin: auto;
  box-sizing: border-box;
}

.tf__about_2_img {
  position: relative;
  text-align: center;
  max-width: 700px;

  .tf__about_large {
    @media (min-width: 768px) and (max-width: 991.99px) {
      width: 500px;
      height: 500px;
    }
  }

  .tf__about_large img {
    object-fit: cover;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }

  .tf__about_small {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    border: 5px solid #ffffff;
    position: absolute;
    z-index: 1;

    img {
      width: auto;
      height: 100%;
    }
  }
}

@media (max-width: 800px) {
  .aber {
    flex-flow: column-reverse;
    margin-bottom: -80px; 
  }
  .center-r{
    margin: auto;
  }
}

@media (max-width: 400px) {
  .tf__about_2_img .tf__about_large img {
    width: 300px;
    height: 300px;
  }
  .tf__about_2_img .tf__about_small {
    width: 120px;
    height: 120px;
  }
  .section-banner .back-ban {
    padding: 60px 0px;
    margin-top: 40px;
  }
}

.icon {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #ffff;
  border-radius: 50%;
  color: #002f6c;
  border-bottom: 3px solid #002f6c;
  .q-icon{
    font-size: 23px;
  }
}

.icon.relative{
  position: relative;
  top: -80px;
  margin: auto;
  width: 80px;
  height: 80px;
  line-height: 80px;
  .q-icon{
    font-size: 35px;
  }
}

.rounded-corners {
  border-radius: 15px !important;
}

.containerPage {
  width: 80%;
}

.backgroundColor {
  background-color: #0000000d;
}

@media (max-width: $breakpoint-md-min) {
  .containerPage {
    width: 95%;
  }
}

@media (min-width: $breakpoint-md-max) {
  .containerPage {
    width: 60%;
  }
}
